<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teams</title>
</head>
<body>
  <h1>ini adalah halaman Teams</h1>
<form action="/projects/teams/<%= data.id %> " method="post">
  <label for="employeeId">Team Member</label>
  <select name="employeeId">
    <%employee.forEach(el =>{ %> 
      <option value="<%= el.id %>"> <%= el.name %> </option>
    <% }) %> 
  </select>

  <input type="checkbox" name="isLeader">
  <label for="isLeader">Leader</label>

  <button type="submit">Add Member</button>
</form>
<h2>Team Members</h2>

<table>
  <thead>
    <tr>
      <td>No</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((el,i) => { %> 
    <tr>
      <th><%= i+1 %> </th>
      <th><%= el.name %> </th>
    </tr>
    <% }) %> 
  </tbody>
</table>
  
</body>
</html>