<%- include('partials/header', {username, roles, title: 'Projects'}) %>

<div class="container">

  <h1>All Projects</h1>

  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Summary</th>
        <th>Team Leader</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Time to resolution</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if (data.length > 0) { %>
        <% data.map(el => { %>
        <tr>
          <td>DEMO-<%= el.id %></td>
          <td><%= el.summary %></td>
          <td>
              <% el.Employees.forEach(employee => { %>
                <% if (employee.EmployeeProject.isLeader) {%> 
                  <%= employee.name %>
              <% }}) %>
            </td>
          <td><%= el.status %></td>
          <td><%= el.createdAt %></td>
          <td style=<%= el.target_resolution_time === '-' ? "color:red" : "color:blue"%>><%= el.status === 'Closed' ? "Closed" : el.target_resolution_time %></td>
          <td>
            <div class="actions">

              <button = '/projects/edit/<%= el.id %>'" class="button">Edit</button>
              <button onclick="window.location.href ='/projects/teams/<%= el.id %>'" <%= el.status === 'Closed' ? "disabled" : "" %> class="button button-info">Assign Members</a>
            </div>
          </td>
        </tr>

        <% }) %>
      <% } %>
    </tbody>
  </table>

</div>

<%- include('partials/footer') %>
